{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        "no-sequences": 2,
        "semi": 2,
        "quotes": [1, "single", "avoid-escape"]
    }
}